body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-family:'Cantarell',sans-serif;

    background-image: url("assets/Homepage.png");
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.fade-in-element {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out; 
  will-change: opacity, transform; 
}

.fade-in-element.is-visible {
  opacity: 1;
  transform: translateY(0); 
}