body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-family:'Cantarell',sans-serif;

    background-image: url("assets/Homepage.png");
    background-size: 100% auto;
    background-position: top center;
    background-repeat: repeat-y;
    background-attachment: scroll;
}

.fade-in-element {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out; 
  will-change: opacity, transform; 
}

.fade-in-element.is-visible {
  opacity: 1;
  transform: translateY(0); 
}







    .wiggle-triangle {
      width: 150px;
      aspect-ratio: 1;
      background: #426284;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      
      animation: slowWiggle 4s ease-in-out infinite;
      transform-origin: center;
    }


    @keyframes slowWiggle {
      0%, 100% {
        transform: rotate(0deg) scale(1);
      }
      25% {
        transform: rotate(-5deg) scale(1.02);
      }
      75% {
        transform: rotate(5deg) scale(0.98);
      }
    }
